* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 20px;
}

input {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
}
ul {
  font-size: 30px;
  padding: 30px;
}

#user {
  color: green;
}

#email {
  color: red;
}
