@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

@mixin button-style($buttonColor: #000) {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  color: white;
  background-color: $buttonColor;
  margin-top: 10px;
}
