@import "button";
@import "header";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
    
}

body {
  @include flex-center();
  padding: 30px;
  flex-direction: column;
}

.red {
  height: 400px;
  width: 400px;
  background-color: red;

  @include flex-center();
}

.green {
  height: 300px;
  width: 300px;
  background-color: green;
  @include flex-center();
}

.black {
  height: 200px;
  width: 200px;
  background-color: black;
}

.exp {
  @include button-style();
}

.learn {
  @include button-style(rgb(255, 153, 0));
}
