@font-face {
  font-family: jungle;
  src: url(./Run!\ Demo.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b7b7b7;
}

#box {
  height: 600px;
  width: 450px;
  background-image: url(https://images.unsplash.com/photo-1730014392621-10de7b9bc20f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDM0fHx8ZW58MHx8fHx8);
  background-size: cover;
  border-radius: 20px;
  position: relative;
  box-shadow: 10px 10px 10px #128700;
}

#bottom {
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(transparent, #064705, #0ea10b);
}

.details {
  height: 100%;
  text-align: center;
  font-family: sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.details h3 {
  font-family: jungle;
  color: #8abc00;
  font-size: 35px;
  font-weight: 700;
}
