@font-face {
    font-family: poppins;
    src: url(./Poppins-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode';
}
html , body{
    height: 100%;
    width: 100%;
}

.navbar {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: poppins;
    background-color: rgb(0, 0, 0);
    color: white;
}

h4 {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

h4:hover {
    text-decoration: underline;
}

h3 {
    cursor: pointer;
}