* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

.keys {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: linear-gradient(45deg, #3f531f, #1d4f3d);
}

.key {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  transition: all 0.07s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: #ffffff;
}

.playing {
  transform: scale(1.1);
  border: 2px solid rgb(255, 0, 162);
  box-shadow: 0px 0px 5px rgb(255, 0, 162);
}
